
.signup-image {
  width: 40%;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-color: beige;
  /* background-image: ; */
}
.signup-container {
  display: flex;
  flex:1;
  width:100%;
  flex-direction: column;
  align-items: center;

  margin-top:150px;
}

.signup-box {
display: flex;
flex-direction: column;
  gap: 24px;
}

.signup-title {
  text-align: center;
  color: rgba(64, 64, 64, 1);

  font-size: 30;
  font-weight: 700;
  line-height: 175%;
}

.signup-content-box {
  display: flex;
  flex-direction: column;
}

.signup-content-sns-login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-content-sns-login-title {
  color: rgba(138, 146, 166, 1);
  margin-bottom:5px;
}
.signup-content-sns-login-button-box {
  display: flex;
  gap: 5px;
}
